.reservation_contain {position: relative; height: 802px; margin: 60px 0;}
.reservation_contain > div { height: 802px; border: 1px solid #727272;}
.reservation_contain h3 { font-size: 18px; text-align: center; padding: 30px 0;border-bottom: 1px solid gainsboro; background-color: #727272; color: white;}
.reservation_contain > div:nth-of-type(1) {position: absolute; top: 0; left: 0; width: 30%; border-right: none;}
.reservation_contain > div:nth-of-type(2) {position: absolute; top: 0; left: 30%; width: 30%;  border-right: none;}
.reservation_contain > div:nth-of-type(3) {position: absolute; top: 0; left: 60%; width: 40%;}
.reservation_contain > div > ul {height: 715px;}

.reservation_contain .theater_location > ul { background-color: gainsboro; position: absolute; top:87px; left: 0; width: 50%;}
.reservation_contain .theater_location > ul > li.active {background-color: white;}
.reservation_contain .theater_location .theater_location_sub { display: none; overflow-y: auto; position: absolute; top:0px; left: 100%; width: 100%; height: 715px; background-color: white;}
.reservation_contain .theater_location .theater_location_sub::-webkit-scrollbar{width: 10px;}
.reservation_contain .theater_location .theater_location_sub::-webkit-scrollbar-thumb{background-color: rgba(0, 0, 0, 0.4); border-radius: 5px;}
.reservation_contain .theater_location .theater_location_sub::-webkit-scrollbar-track{background-color: white;}
.reservation_contain .theater_location .theater_location_sub.on {display: block;}
.reservation_contain .theater_location .theater_location_sub button.red {color:red;}
.theater_location li,.movie_kind li { height: 50px;}
.theater_location button ,.movie_kind button {display: inline-block; width: 100%; height: 50px; padding-left: 45px; background-color: transparent; text-align: left;}
.movie_kind > ul {background-color: gainsboro; position: relative;}
.movie_kind .movie_title {font-weight: 600; color: #727272;}
.movie_kind button.on { background-color: white; }
.movie_kind .age { display: inline-block; margin-right: 10px; width: 25px; height: 25px; line-height: 23px; color: white; text-align: center; border-radius: 50%; text-shadow: 0 0 10px rgba(0, 0, 0, 0.7);}
.old_19 {background-color: red; }
.old_15 {background-color: #FFC134;}
.old_12 {background-color: aqua;}

.movie_kind_sub { z-index: 1; overflow-y: auto; display: none; position: absolute; top:0; box-sizing: border-box; width: 512px; height: 715px; right: -512px; padding: 0 40px; background-color: white;}
.movie_kind_sub h4 { padding: 30px 0;}
.movie_kind_sub h5 { padding: 0 0 15px 0;}
.movie_kind_sub .seat_btn {display: block; width: 120px; height: 80px; box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.4); border: 1px solid #ddd; border-radius: 10px; padding: 0; background-color: #f8f8f8; }
.movie_kind_sub ul {font-size: 0;}
.movie_kind_sub li:nth-of-type(n) {display: inline-block; width: 120px; height: 80px; margin: 10px 20px 10px 0; }
.movie_kind_sub li:nth-of-type(3n+2) {display: inline-block; text-align: center;width: 120px; height: 80px; margin: 10px 15px;} 
.movie_kind_sub li:nth-of-type(3n) {display: inline-block; text-align: right;  width: 120px; height: 80px; margin: 10px 0px 10px 20px;} 
.movie_kind_sub .seat_btn strong {font-size: 24px; color: black;}
.movie_kind_sub .seat_btn dd {text-align: center; padding: 0 0 5px 0;}
.movie_kind_sub .seat_btn dd span:nth-of-type(2) {margin-right: 20px;}

.movie_kind_sub .seat_btn.on {background-color: #ddd;}

.movie_kind_sub .ticket_finish_contain {display: inline-block; position: absolute; left: 40px;  bottom: 20px; width: 432px; height: 80px; line-height: 76px; box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.4); border: 1px solid #ddd; border-radius: 10px; padding: 0; background-color: #f8f8f8; text-align: center; font-size: 28px;}




