input[id*="answer"]{
    display: none;
}
input[id*="answer"] + label {
    display: block;
    padding: 20px;
    border: 1px solid #232188;
    border-bottom: 0;
    color: #fff;
    font-weight: 900;
    background: #3634a5;
    cursor: pointer;
}